format = """
$username\
$hostname\
$directory\
$git_branch\
$git_status\
$git_commit\
$nodejs\
$python\
$terraform\
$kubernetes\
$all
"""

[character]
success_symbol = "[\\$](white)"
error_symbol = "[\\$](white)"

[git_commit]
tag_symbol = " tag "
only_detached = true

[git_branch]
symbol = "git "
style = "#8be9fd"

[git_status]
style = "white"
conflicted = "[=](red)"
ahead = "[⇡](green)"
behind = "[⇣](yellow)"
diverged = "[⇕](red)"
untracked = "[?](blue)"
stashed = "[$](purple)"
modified = "[!](yellow)"
staged = "[+](green)"
renamed = "[»](blue)"
deleted = "[✘](red)"

[aws]
format = 'on [$symbol$profile]($style) '
style = 'blue'
symbol = "aws "
[aws.profile_aliases]
Enterprise_Naming_Scheme-voidstars = 'void**'

[azure]
symbol = "az "

[bun]
symbol = "bun "

[c]
symbol = "C "

[cobol]
symbol = "cobol "

[conda]
symbol = "conda "

[crystal]
symbol = "cr "

[cmake]
symbol = "cmake "

[daml]
symbol = "daml "

[dart]
symbol = "dart "

[deno]
symbol = "deno "

[dotnet]
symbol = ".NET "

[directory]
read_only = " ro"
style = "#bd93f9"

[docker_context]
symbol = "docker "

[elixir]
symbol = "exs "

[elm]
symbol = "elm "

[fennel]
symbol = "fnl "

[fossil_branch]
symbol = "fossil "

[gcloud]
symbol = "gcp "

[golang]
symbol = "go "
disabled = true

[gradle]
symbol = "gradle "

[guix_shell]
symbol = "guix "

[hg_branch]
symbol = "hg "

[java]
symbol = "java "

[julia]
symbol = "jl "

[kotlin]
symbol = "kt "

[lua]
symbol = "lua "

[nodejs]
format = '[$symbol$version]($style) '
symbol = "node "

[memory_usage]
symbol = "memory "

[meson]
symbol = "meson "

[nim]
symbol = "nim "

[nix_shell]
symbol = "nix "

[ocaml]
symbol = "ml "

[opa]
symbol = "opa "

[os.symbols]
Alpaquita = "alq "
Alpine = "alp "
Amazon = "amz "
Android = "andr "
Arch = "rch "
Artix = "atx "
CentOS = "cent "
Debian = "deb "
DragonFly = "dfbsd "
Emscripten = "emsc "
EndeavourOS = "ndev "
Fedora = "fed "
FreeBSD = "fbsd "
Garuda = "garu "
Gentoo = "gent "
HardenedBSD = "hbsd "
Illumos = "lum "
Linux = "lnx "
Mabox = "mbox "
Macos = "mac "
Manjaro = "mjo "
Mariner = "mrn "
MidnightBSD = "mid "
Mint = "mint "
NetBSD = "nbsd "
NixOS = "nix "
OpenBSD = "obsd "
OpenCloudOS = "ocos "
openEuler = "oeul "
openSUSE = "osuse "
OracleLinux = "orac "
Pop = "pop "
Raspbian = "rasp "
Redhat = "rhl "
RedHatEnterprise = "rhel "
Redox = "redox "
Solus = "sol "
SUSE = "suse "
Ubuntu = "ubnt "
Unknown = "unk "
Windows = "win "

[package]
symbol = "pkg "
disabled = true

[perl]
symbol = "pl "

[php]
symbol = "php "

[pijul_channel]
symbol = "pijul "

[pulumi]
symbol = "pulumi "

[purescript]
symbol = "purs "

[python]
format = '[$symbol$version]($style) '
symbol = "py "

[raku]
symbol = "raku "

[ruby]
symbol = "rb "

[rust]
symbol = "rs "

[scala]
symbol = "scala "

[spack]
symbol = "spack "

[solidity]
symbol = "solidity "

[status]
symbol = "[x](red) "

[sudo]
symbol = "sudo "

[swift]
symbol = "swift "

[terraform]
format = '[$symbol $version $workspace]($style) '
symbol = "terraform "

[zig]
symbol = "zig "

[kubernetes]
format = '[k8s on $context]($style) '
style = 'red'
disabled = false

[line_break]
disabled = false
