.monaco-editor .squiggly-error {
  border: 1px solid red;
  border-bottom-width: 2px;
  border-radius: 3px;
  background: none !important;
  background-color: RGBA(255, 97, 136, 0.5) !important;
}

.explorer-viewlet .mac,
.tabs-container,
.actions-container,
.monaco-tl-row {
  font-family: Ubuntu Mono Ligaturized, Cousine Nerd Font, Consolas ligaturized v3;
}

.explorer-viewlet .mac {
  font-size: 11px !important;
}