[alias]
	lg = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold red)%h%C(reset) : %C(bold green)(%ar)%C(reset) - %C(cyan)<%an>%C(reset)%C(bold yellow)%d%C(reset)%n%n%w(90,1,2)%C(white)%B%C(reset)%n'
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
	taglog = log --no-walk --tags --pretty=\"%C(bold blue)%h%Creset %C(bold yellow)%d%Creset %C( magenta)%s%Creset\"
	cmt = commit
	cbp = "!f() { git branch --show-current | tr -d \"\n\" | pbcopy; }; f"
	sw = switch
	swf = "!f() { git fetch && git checkout \"$@\"; }; f"
	swp = "!f() { git checkout \"$@\" && git pull --rebase; }; f"
	pre = pull --rebase
	rma = "!f() { curr=$(git branch --show-current); git branch | grep -vE \"^\\\\*|main|master|$curr\" | xargs git branch -D; }; f"
	rmg = "!git fetch -p && for branch in `git branch -vv | grep ': gone]' | awk '{print $1}'`; do git branch -D $branch; done"
	swb = !git branch | sed \"s/^[ *]*//\" | fzf --height 10% --select-1 --exit-0 | xargs -r git switch
	mrg = "!f() { \
			current=$(git rev-parse --abbrev-ref HEAD); \
			target=$(git branch --list | grep -v \"\\* $current\" | sed 's/^..//' | fzf --prompt=\"Merge into $current > \"); \
			[ -z \"$target\" ] && echo 'No branch selected.' && exit 1; \
			echo \"Merging $target into $current...\"; \
			git merge \"$target\"; \
		}; f"

[user]
	name = RINDAMAN2426
	email = brouk.develop@gmail.com
[core]
	editor = /opt/homebrew/bin/nvim